@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-rubik: var(--font-rubik);
  --color-primary: #232321;
  --color-secondary: #FFA52F;
  --color-foreground: #232321;
  --color-background: #E7E7E3;
  --color-light-background: #FFFFFF;
  --color-dark-background: #232321;
  --color-accent: #4A69E2;
  --color-accent-foreground: #FFFFFF;
  --color-card-bg-primary: #FAFAFA;
  --color-card-bg-secondary: #ECEEF0;
  --color-card-bg-tertiary: #F6F6F6;
}


:root {
  --font-rubik: var(--font-rubik);
  --primary: #232321;
  --secondary: #FFA52F;
  --foreground: #232321;
  --background: #E7E7E3;
  --light-background: #FFFFFF;
  --dark-background: #232321;
  --accent: #4A69E2;
  --accent-foreground: #FFFFFF;
  --card-bg-primary: #FAFAFA;
  --card-bg-secondary: #ECEEF0;
  --card-bg-tertiary: #F6F6F6;

   

}

.dark {

    
}

@layer base {
  * {
    

    }
  body {
    @apply font-rubik;
  

    }
  button,a,input{
    @apply cursor-pointer;
  }

}