@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-rubik: var(--font-rubik);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-light-text: var(--light-text);
  --color-dark-text: var(--dark-text);
  --color-light-background: var(--light-background);
  --color-dark-background: var(--dark-background);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-card-bg-primary: var(--card-bg-primary);
  --color-card-bg-secondary: var(--card-bg-secondary);
  --color-card-bg-tertiary: var(--card-bg-tertiary);
}


:root {
  --font-rubik: var(--font-rubik);
  --primary: #232321;
  --secondary: #FFA52F;
  --foreground: #232321;
  --background: #E7E7E3;
  --light-text: #E7E7E3;
  --dark-text: #232321;
  --light-background: #FFFFFF;
  --dark-background: #232321;
  --accent: #4A69E2;
  --accent-foreground: #FFFFFF;
  --card-bg-primary: #FAFAFA;
  --card-bg-secondary: #ECEEF0;
  --card-bg-tertiary: #F6F6F6;

   

}

.dark {

    
}

@layer base {
  * {
    

    }
  body {
    @apply font-rubik bg-background;
    @apply max-w-[375px] md:max-w-none mx-auto overflow-x-hidden md:overflow-x-visible;
  }
  button,a,input{
    @apply cursor-pointer;
  }

}